# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
scratch/

# Environment / Local Credentials & Tokens
.env
.env.*
!.env.example
local.properties
**/android/local.properties
key.properties
**/*.keystore
**/*.jks

# IDE & Editor files
*.iml
*.ipr
*.iws
.idea/
.vscode/
out/

# Flutter / Dart / Pub build artifacts
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio & Gradle build artifacts
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
**/android/.gradle/
**/android/captures/
**/android/.cxx/

# Windows Desktop & C++ build artifacts
windows/flutter/ephemeral/
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
x86/
ARM/
ARM64/
[Dd]ebug/
[Rr]elease/
*.cache
!*.[Cc]ache/

# Widget Preview related
.widget_preview/
